version: "3.8"

services:

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: reservation-backend
    ports:
      - "3001:3001"
    environment:
      - NODE_ENV=production
    restart: unless-stopped
    networks:
      - reservation-network

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: reservation-frontend
    ports:
      - "8084:80"
    depends_on:
      - backend
    restart: unless-stopped
    networks:
      - reservation-network

networks:
  reservation-network:
