version: "3.8"

services:

  backend:
    build: ./backend
    container_name: reservation-backend
    ports:
      - "3001:3001"
    restart: unless-stopped

  frontend:
    build: ./frontend
    container_name: reservation-frontend
    ports:
      - "8084:80"
    depends_on:
      - backend
    restart: unless-stopped